.container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr ;

}

.img{
  grid-row: 1 / 1;
  grid-column: 1 / span 6;
  z-index: 0;
}

.itm1{
  width: 100%;
  height: 100%;
}

.center {
  margin: 300px 0 300px 0;
}

.center_title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5vw;
  margin-right: 24px;
}

.center_text{
  display: flex;
  align-items: center;
  justify-content: center;

}

.text{
  text-align: center;
  max-width: 900px;
  font-size: 3vh;
}

.text_nr{
  font-family: "Gambarino", sans-serif;
  font-size: 3vh;
}

.imgButton{

  color: #A57F60;
  height: 44px;
  background: none;
	border: none;
  font-size: 1.5vw;
  font-family: "Gambarino", sans-serif;
  font-weight: bold;
  justify-self: end;


}

.hoverUnderlineAnimation {
  display: inline-block;
  position: relative;
  cursor: pointer;

}

.hoverUnderlineAnimation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0.5);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #A57F60;
  transform-origin: bottom left ;
  transition: transform 0.40s ease-out;
}

.hoverUnderlineAnimation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left ;
}


.bigContainer{
  display: flex;
  justify-content: space-between;
  margin-top:10%;
}

.heroTextContainer{
align-self: center;

}

.heroTitle{
  font-size: 4vw;
}

.heroText{
  font-size: 1.2vw;
  max-width: 700px;
  margin-bottom: 40px;
}

.imgHero{
  width: 50vw;

}

.centerText{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
  text-align: center;
  margin-bottom: 250px;
  margin-top: 250px;
  
}

.paralaxText{
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  color: #FBFEF9;
  font-family: "Gambarino", sans-serif;

}



.gridContainer{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(15, 5vw);
  gap: 50px;
  margin-bottom: 50px;
  margin-top: -100px;
}

 
.item1{
grid-column: 2 / span 2;
grid-row: 4/ span 3;
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 5px;

}

.item2{
  grid-column: 4 / span 3;
  grid-row: 1/ span 5;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  }

  .item3{
    grid-column:  7/ span 3;
  grid-row: 4/ span 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  justify-self: center;
  }



  .item4{
    
    grid-column: 6/ span 3;
  grid-row: 7/ span 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  
  }

  .item5{
    
    grid-column:  3/ span 3;
    grid-row: 7/ span 5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    
  }

  .item6{
    grid-column: 2/ span 2;
    grid-row: 12/ span 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }



  .item7{
    grid-column: 4/ span 3;
    grid-row: 14/ span 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .item8{
    grid-column: 7/ span 2;
    grid-row: 12/ span 4;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  



@media screen and (max-width: 600px) {
  .container{
    gap: 15px;
    margin-bottom: 20px;
  }
  .center {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .text{
    max-width: 400px;
    font-size: 16px;
  }

  .center_text{
    display: flex;
    flex-direction: column;
 
    padding: 4px 4px 0 4px;
  }

  .center_title{
    display: flex;
    font-size: 3.5vh; 
  }


  .bigContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:10%;
  }

  
.heroTextContainer{
  align-self: center;
  
  }
  
  .heroTitle{
    font-size: 4vh;
  }
  
  .heroText{
    font-size: 16px;
    max-width: 700px;
    margin-bottom: 40px;
  }
  
  .imgHero{
    width: 100%;
    margin-top: 24px;
    
  }
  
  .centerText{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vh;
    text-align: center;
    margin-bottom: 150px;
    margin-top: 50px;
    
  }

  .imgButton{

    color: #A57F60;
    height:25px;
    background: none;
    border: none;
    font-size: 16px;
    font-family: "Gambarino", sans-serif;
    font-weight: bold;
    justify-self: end;
  
  
  }

  
.gridContainer{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(15, 5vw);
  gap: 50px;
  margin-bottom: 50px;
  margin-top: -100px;
}

 
.item1{
grid-column: 1 / span 4;
grid-row: 4/ span 3;
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 5px;

}

.item2{
  grid-column: 4 / span 5;
  grid-row: 1/ span 5;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 24px;
  
  }

  .item3{
    grid-column:  6/ span 4;
  grid-row: 6/ span 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  justify-self: center;
  }



  .item4{
    
    grid-column: 6/ span 4;
  grid-row: 9/ span 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  
  }

  .item5{
    
    grid-column:  1/ span 4;
    grid-row: 7/ span 5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    
  }

  .item6{
    grid-column: 1/ span 4;
    grid-row: 12/ span 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }



  .item7{
    grid-column: 1/ span 4;
    grid-row: 15/ span 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .item8{
    grid-column: 6/ span 4;
    grid-row: 12/ span 6;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}


