.container {
  margin: 5%;
  }


.container > h1{
font-size: 4rem;
font-weight: 600;
}

.formContainer{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formColum{
  display: flex;
  justify-content: space-between;
}

.formColum2{
  display: flex;
  flex-direction: column;

}
.smallForm{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

.lab{
  background: none;
  border: none;
  color:var(--white);
  border: 1px solid #191716;
  padding: 20px;
  font-size: 2rem;
  width: 90%;
  
}


.lab2{
  background: none;
  border: none;
  color:var(--white);
  border: 1px solid #191716;
  padding: 20px;
  font-size: 2rem;
  width: 95%;
  min-height: 20vh;
}

.submit{
  color: #A57F60;
  background: none;
	border: none;
  font-size: 5rem;
  cursor: pointer;
  padding-right: 2%;
  align-self: flex-end;
}


