.container{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(35, 5vw);
 gap: 38px;
  margin-bottom: 20px;
}


.item1{
grid-column: 1 / span 5;
grid-row: 1/ span 3;
width: 100%;
height: 100%;
object-fit: cover;


}

.item2{
  grid-column: 1 / span 4;
  grid-row: 6/ span 2;
  width: 100%;
  height: 100%;
  
  }

  .item3{
    grid-column:  5/ span 3;
  grid-row: 6/ span 3;
  width: 100%;
  height: 100%;

  }



  .item4{
    grid-column: 8/ span 3;
  grid-row: 6/ span 3;
  width: 100%;
  height: 100%;

  
  }

  .item5{
    grid-column: 5/ span 3;
    grid-row: 11/ span 2;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    
  }

  .item6{
    grid-column: 8/ span 3;
    grid-row: 9/ span 4;
    width: 100%;
    height: 100%;

  }



  .item7{
    grid-column: 1/ span 7;
    grid-row: 13/ span 4;
    width: 100%;
    height: 100%;

  }


  .item8{
    grid-column: 1/ span 7;
    grid-row: 18/ span 7;
    width: 100%;
    height: 100%;
    padding-top: 5%;
  }

  .item9{
    grid-column: 1/ span 5;
    grid-row: 24/ span 2;
    width: 100%;
    height: 100%;
    padding-top: 21%;
  }

  .item10{
    grid-column: 8/ span 3;
    grid-row: 13/ span 2;
    width: 100%;
    height: 100%;
    padding-top: 21%;
  }

  .item11{
    grid-column: 5/ span 6;
    grid-row: 29/ span 2;
    width: 100%;
    height: 100%;
    padding-top: 21%;
  }


 .text1{
  grid-column: 6/ span 2;
  grid-row: 2/2 ;
 font-size: 9vw;
  font-family: "Gambarino", sans-serif;


}

.text2{
  grid-column: 1 / span 4 ;
  grid-row: 11/ span 1;
  font-size: 15vw;
  font-family: "Gambarino", sans-serif;


  align-self: center;
   justify-self: center;
}

.text3{
  grid-column: 8 / span 2 ;
  grid-row: 20/ span 2;
font-size: 10vw;
padding-left: 5%;
  font-family: "Gambarino", sans-serif;

}

.text4{
  grid-column: 6 / span 2;
  grid-row: 24/ span 1 ;
  font-size: 20vw;
  font-family: "Gambarino", sans-serif;

} 

.text5{
  grid-column: 1 / span 2;
  grid-row: 31 / span 1 ;
  font-size: 11vw;
  margin-left: 20px;
  font-family: "Gambarino", sans-serif;

} 



@media screen and (max-width: 850px) {
  .container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(35, 5vw);
    gap: 1.5%;
    margin-bottom: 400px;
  }

}
  