html,
body {
  padding: 0 50px 0 50px;
  margin: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans" , sans-serif;
  color: #191716;
  background-color: #FBFEF9;
  overscroll-behavior: none;
  overflow-x: hidden;
}



.App{
  padding: 0 50px 0 50px;
  margin: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans" , sans-serif;
  color: #191716;
  background-color: #FBFEF9;
  overscroll-behavior: none;

}

a {
  color: inherit;
  text-decoration: none;
}

.NavBar{
display: flex;
align-items: baseline;
justify-content: space-between;
margin-bottom: 100px;
margin-top: 24px;




}

.logo{
align-self: center;

cursor: pointer;


}


ul li{
  list-style-type: none;

}

li {
  margin-left: 22px;

font-size: 1.5vw;


}

.button_heder{
  color: #A57F60;
  background: none;
	border: none;
  font-size: 2vw;
  font-family: "Gambarino", sans-serif;
  font-weight: bold;
  min-width: 200px;
  
  
  
 
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  cursor: pointer;

}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0.5);
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: #A57F60;
  transform-origin: bottom left ;
  transition: transform 0.40s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left ;
}


.hover-midline-animation {
  display: inline-block;
  position: relative;
  cursor: pointer;

}

.hover-midline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: #A57F60;
  transform-origin: bottom  ;
  transition: transform 0.30s ease-out;
}

.hover-midline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom  ;
}





.button_footer{
  color: #A57F60;
  background: none;
	border: none;
  font-size: 6vh;
  font-family: "Gambarino", sans-serif;
  font-weight: bold;
  min-width: 300px;
  cursor: pointer;
}

.phonenr{
  color: #191716;
  background: none;
	border: none;
  font-size: 4vh;
  font-weight: bold;
  min-width: 300px;
  cursor: pointer;
  margin: 0;
}

footer{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
position: relative;
bottom: -150px;
}

.footer_bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;


}



.ceter_text{
  text-align: center;
  max-width: 850px;
  font-weight: normal;

 
}

.container_center{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 250px;
}

.button_top{
  color: #A57F60;
  background: none;

  font-size: 1rem;
  font-family: "Gambarino", sans-serif;
  font-weight: bold;
}
.why_container{
  margin: 250px 0 10px 0 ;
}

.why_h1{
  font-family: "Gambarino", sans-serif;
  font-size: 5vw;

}

.why_container_text{
  display: flex;
  justify-content: space-between;
  
}

.why_colum{
  display: flex;
  flex-direction: column;
  max-width: 490px ;
  row-gap: 100px;
  font-size: 2.3vh;
  justify-content: space-between;
  
}

.why_nr{
font-size: 2.2rem ;
font-family: "Gambarino", sans-serif;

}


.paralaxTextContainer{
  display: grid;
  justify-content: start;
  align-items: start;
  font-size: 2vw;
  color: #FBFEF9;
  padding-left: 24px;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4,1fr);
  
}


.paralaxTitle{

  grid-column: 1 /  span 3;
  grid-row: 2/2;
}

.paralaxText{
  font-size: 2.2vh;
  grid-column: 1 /  span 2;
  grid-row: 3/3;
 max-width:650px;
}

.paralaxButton{
  grid-column: 1 /  span 3;
  grid-row: 4/4;
  color: #FBFEF9;
  height: 45px;
  background: none;
	border: none;
  font-size: 3vh;
  font-family: "Gambarino", sans-serif;
  font-weight: bold;
  justify-self: start;
  align-self: center;
  letter-spacing: 2px;
}


.hoverUnderlineAnimation {
  display: inline-block;
  position: relative;
  cursor: pointer;

}

.hoverUnderlineAnimation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0.5);
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: #A57F60;
  transform-origin: bottom left ;
  transition: transform 0.40s ease-out;
}

.hoverUnderlineAnimation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left ;
}

.someContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}


.facebook{
 width: 2vh;
  margin-right: 24px;
}



.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #A57F60;
  z-index: 2;
}


.textHide{

  position: absolute;
  display: flex;
  overflow: hidden;
  
  
}



.bm-burger-button {
  display: none;
}


.erorMesage{
  color: #A57F60;

}



@media screen and (max-width: 850px) {
  

  .App{
    padding: 0 20px 0 20px;
    margin: 0;
    margin: 0;
    font-family: "Plus Jakarta Sans" , sans-serif;
    color: #191716;
    background-color: #FBFEF9;
  
  }


.NavBar{
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 20px;
  }

    .button_heder{
      display: none;
    }

 .links{
  display: none;
 }


 .logo{
  align-self: flex-start;
  position: relative;
  
}


.ceter_text{
  text-align: center;
  max-width: 100%;
  font-weight: normal;
  font-size: 5vw;
}

.container_center{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
}



.why_container{
  margin: 150px 0 150px 0 ;
}

.why_h1{
  font-family: "Gambarino", sans-serif;
  font-size: 4.5vh;

}

.why_container_text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 50px;
  align-items: flex-start;
}

.why_colum{
  display: flex;
  flex-direction: column;
  max-width: 100% ;
  
  row-gap: 50px;
  font-size: 14px;
  

  
}

.why_nr{
font-size: 1.5rem ;
font-family: "Gambarino", sans-serif;
}

.button_footer{
  font-size: 6vw;  
}

.phonenr{
  font-size: 6vw;
}



.pralexContainer{
  height: 70vh;
}

.paralaxTextContainer{
  display: grid;
  justify-content: start;
  align-items: start;
  font-size: 1.5vh;
  color: #FBFEF9;
  padding-left: 24px;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4,1fr);
  
}


.paralaxTitle{

  grid-column: 1 /  span 4;
  grid-row: 2/2;
}

.paralaxText{
  font-size: 14px;
  grid-column: 1 /  span 3;
  grid-row: 3/3;

}

.paralaxButton{
  grid-column: 1 /  span 3;
  grid-row: 4/4;
  color: #FBFEF9;
  height: 27px;
  background: none;
	border: none;
  font-size: 2vh;
  font-family: "Gambarino", sans-serif;
  font-weight: bold;
  justify-self: start;
  align-self: center;
}


.footer_bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 1.5vh;



}
.facebook{
 width: 2.2vh;
  margin-right: 14px;
}

footer{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    bottom: -50px;
}





/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
  display: block;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #191716;
}



/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;

}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: absolute;
  height: 100%;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: #191716;
  padding: 2.5em 1.5em 0;
  font-size: 1.6em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

/* Styling of overlay */
.bm-overlay {
  background: transparent;
}

.buttonBurger{
  color: #A57F60;
  background: none;
	border: none;
  font-size: 3vh;
cursor: pointer;

}

.burgerBottom{
  margin-top: 240px;
}

.phonenrBurger{
  color: #A57F60;
  background: none;
	border: none;
  font-size: 2.4vh;
cursor: pointer;
}

}
