html,
body {


  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans" , sans-serif;
  color: #191716;
  background-color: #FBFEF9;
  overscroll-behavior: none;

}


body{
  margin: 0 48px 0 48px;
}


a {
  color: inherit;
  text-decoration: none;
}

.NavBar{
display: flex;
align-items: baseline;
justify-content: space-between;
margin-bottom: 100px;
margin-top: 24px;




}

.logo{
align-self: center;

cursor: pointer;


}


ul li{
  list-style-type: none;

}

li {
  margin-left: 22px;

font-size: 1.5vw;


}

.button_heder{
  color: #A57F60;
  background: none;
	border: none;
  font-size: 2vw;
  font-family: "Gambarino", sans-serif;
  font-weight: bold;
  min-width: 200px;
  
  
  
 
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  cursor: pointer;

}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0.5);
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: #A57F60;
  transform-origin: bottom left ;
  transition: transform 0.40s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left ;
}


.hover-midline-animation {
  display: inline-block;
  position: relative;
  cursor: pointer;

}

.hover-midline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: #A57F60;
  transform-origin: bottom  ;
  transition: transform 0.30s ease-out;
}

.hover-midline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom  ;
}



.subtitle{
  font-size: 2.5vw;
  letter-spacing: 3px;
  margin-bottom: 2vh;
  color: #FBFEF9;
}







.formContainer2{
  padding-left: 24px;
}


.container2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}






.formContainer{
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  color: #FBFEF9;
 
}


.formText{
  font-size: 2.4vh;
  margin-top: 24px;
}

.lab{
  width: 30vw;
  height: 0.5vh;
  padding: 12px 30px 12px 0px;
  background-color: #FBFEF9;
  border: none;
  border: 1px solid black;
  font-family: "Plus Jakarta Sans" , sans-serif;
}


.lab2{
  width: 30vw;
  height: 10vh;
  padding: 12px 30px 12px 0px;
  background-color: #FBFEF9;
  border: 1px solid black;
  font-family: "Plus Jakarta Sans" , sans-serif;
}


.submit{
  margin-top: 24px;
  width: 50%;
  color: #A57F60;
  background: none;
	border: none;
  font-size: 2vw;
  font-family: "Gambarino", sans-serif;
  text-align: start;
  cursor: pointer;
 
  
}

.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}



.button_footer{
  color: #A57F60;
  background: none;
	border: none;
  font-size: 6vw;
  font-family: "Gambarino", sans-serif;
  font-weight: bold;
  min-width: 300px;
  cursor: pointer;
  margin-bottom: 24px;
}

.phonenr{
  color: #191716;
  background: none;
	border: none;
  font-size: 4vh;
  font-weight: bold;
  min-width: 300px;
  cursor: pointer;
  margin: 0;
  margin-bottom: 24px;
}

.phonenrContainer{
  display: flex;
  gap: 48px;
}


.phonenrContainer1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



footer{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin-top: 150px;

}

.footer_bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

}



.ceter_text{
  text-align: center;
  max-width: 850px;
  font-weight: normal;

 
}

.container_center{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 250px;
}

.button_top{
  color: #A57F60;
  background: none;

  font-size: 1vw;
  font-family: "Gambarino", sans-serif;
  font-weight: bold;
}
.why_container{
  margin: 250px 0 10px 0 ;
}

.why_h1{
  font-family: "Gambarino", sans-serif;
  font-size: 5vw;

}

.why_container_text{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  
}

.why_colum{
  display: flex;
  flex-direction: column;
  max-width: 500px ;
  row-gap: 100px;
  font-size: 2.3vh;

  
}

.why_nr{
font-size: 2.2rem ;
font-family: "Gambarino", sans-serif;

}


.paralaxTextContainer{
  display: grid;
  justify-content: start;
  align-items: start;
  font-size: 2vw;
  color: #FBFEF9;
  padding-left: 24px;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4,1fr);
  
}


.paralaxTitle{

  grid-column: 1 /  span 3;
  grid-row: 2/2;
}

.paralaxText{
  font-size: 2.2vh;
  grid-column: 1 /  span 2;
  grid-row: 3/3;
 max-width:650px;
}

.paralaxButton{
  grid-column: 1 /  span 3;
  grid-row: 4/4;
  color: #FBFEF9;
  height: 45px;
  background: none;
	border: none;
  font-size: 3vh;
  font-family: "Gambarino", sans-serif;
  font-weight: bold;
  justify-self: start;
  align-self: center;
  letter-spacing: 2px;
}


.hoverUnderlineAnimation {
  display: inline-block;
  position: relative;
  cursor: pointer;

}

.hoverUnderlineAnimation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0.5);
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: #A57F60;
  transform-origin: bottom left ;
  transition: transform 0.40s ease-out;
}

.hoverUnderlineAnimation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left ;
}

.someContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}


.facebook{

  margin-right: 54px;
}



.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #A57F60;
  z-index: 2;
}


.textHide{

  position: absolute;
  display: flex;
  overflow: hidden;
  
  
}



.bm-burger-button {
  display: none;
}


.erorMesage{
  color: #A57F60;

}


.mobileMenu{
  display: none;
}


@media screen and (max-width: 850px) {
  
 
  html,
  body{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans" , sans-serif;
    color: #191716;
    background-color: #FBFEF9;
  
  }
body{
  margin: 0 8px 0 8px;
}

.NavBar{
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 20px;
  }

    .button_heder{
      display: none;
    }

 .links{
  display: none;
 }



.button_top{
  font-size: 5vw;
  
}


 .logo{
  align-self: flex-start;
  position: relative;
  
}


.ceter_text{
  text-align: center;
  max-width: 90%;
  font-weight: normal;
  font-size: 5vw;
}

.container_center{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
}



.why_container{
  margin: 150px 0 150px 0 ;
}

.why_h1{
  font-family: "Gambarino", sans-serif;
  font-size: 4.5vh;

}

.why_container_text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 50px;
  align-items: flex-start;
}

.why_colum{
  display: flex;
  flex-direction: column;
  max-width: 100% ;
  
  row-gap: 50px;
  font-size: 14px;
  

  
}

.why_nr{
font-size: 1.5rem ;
font-family: "Gambarino", sans-serif;
}

.button_footer{
  font-size: 24px;  
  align-self: flex-start;
  
}

.phonenr{
  font-size: 22px;
  margin-bottom: 24px;
}



.pralexContainer{
  height: 70vh;
}

.paralaxTextContainer{
  display: grid;
  justify-content: start;
  align-items: start;
  font-size: 1.5vh;
  color: #FBFEF9;
  padding-left: 24px;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4,1fr);
  
}


.paralaxTitle{

  grid-column: 1 /  span 4;
  grid-row: 2/2;
}

.paralaxText{
  font-size: 14px;
  grid-column: 1 /  span 3;
  grid-row: 3/3;

}

.paralaxButton{
  grid-column: 1 /  span 3;
  grid-row: 4/4;
  color: #FBFEF9;
  height: 27px;
  background: none;
	border: none;
  font-size: 2vh;
  font-family: "Gambarino", sans-serif;
  font-weight: bold;
  justify-self: start;
  align-self: center;
}


.footer_bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  font-size: 1.5vh;



}
.facebook{
 width: 2.2vh;
  margin-right: 14px;
}

footer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.mobileMenu{
  display: block;
}

.hederButton{
  background:none;
  border: none;
  align-self: center;
  display: block;

  
}


.close{
padding: 20px;
 cursor: pointer;
 position: absolute;
 top:0;
 right: 0;
}

.bm-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  color: #b8b7ad;
  font-size: 3.4vh;
}


.listItems{
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 24px;
}


.buttonBurger{
  color: #A57F60;
  background: none;
	border: none;
  font-size: 3vh;
cursor: pointer;

}

.burgerBottom{
  margin-top: 240px;
  padding-left: 50px;
}

.phonenrBurger{
  color: #A57F60;
  background: none;
	border: none;
  font-size: 2.4vh;
cursor: pointer;
}
.phonenrContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.someContainer{
  width: 128px;
  align-self: flex-start;
  margin-top: 24px;
  margin-bottom: 50px;
}
}
