

.heding{
  font-size: 5vw;
  font-family: "Gambarino", sans-serif;
  letter-spacing: 5px;
  padding-top: 20px;
}

.text{
 font-size: 1.3vw;
 max-width: 700px;
 margin-bottom: 70px;
}

.smallContainer{
  display: flex;
  justify-content: space-between ;
  align-items: baseline;
  border-top: 1px solid black;
  
}

.title{
  font-family: "Gambarino", sans-serif;
  letter-spacing: 2px;
  font-size: 3vw;
}

.paragraph{
  font-size: 1.2vw;
  max-width: 50%;
}



@media screen and (max-width: 850px) { 

  .heding{
    font-size: 9vw;
    font-family: "Gambarino", sans-serif;
    letter-spacing: 1px;
    padding-top: 20px;
  }
  
  .text{
   font-size: 14px;
   max-width: 400px;
   margin-bottom: 44px;
  }
  
  .title{
    font-family: "Gambarino", sans-serif;
    
    font-size: 5vw;
  }
  
  .paragraph{
    font-size: 16px;
    max-width: 400px;
  }

.smallContainer{
  display: flex;
  flex-direction: column;
}

}
